<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Cyber Defence" />
    
</head>
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
            <div class="container">
              <a id="a-title" href="{{ '/' | relative_url }}">
                  <h1>{{ site.title | default: site.github.repository_name }}</h1>
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <nav>
                  <a href="{{ site.baseurl }}/">Home</a>
                  <a href="{{ site.baseurl }}/my_awesome_lists">./Awesome Lists</a>
                  <a href="{{ site.baseurl }}/computer_science">./Computer Science</a>
                  <a href="{{ site.baseurl }}/cybersecurity">./Cybersecurity</a>
                  <a href="{{ site.baseurl }}/development_toolkit">./Development Toolkit</a>
                  <a href="{{ site.baseurl }}/online_malware_anaysis_tools">./Online Malware Analysis Tools</a>
                  <a href="{{ site.baseurl }}/vulnerability_research">./Vulnerability Research</a>
                  <a href="{{ site.baseurl }}/threat_modeling">./Threat Modeling</a>
                  <a href="{{ site.baseurl }}/cybersecurity_in_belgium">./Cybersecurity in Belgium</a>
                  <a href="{{ site.baseurl }}/about">About Me</a>
                </nan>
              </ul>
            </div><!-- /.navbar-collapse -->
        </header>
      </div>
    </div>  
    <div id="wcb" class="carbonbadge"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
